<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editing Group Activity</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Editing Group Activity</li>
      </ol>
    </nav>
</div>

<%= render 'form', group_activity: @group_activity %>

<%= link_to 'Show', @group_activity, class: "btn btn-dark" %> |
<%= link_to 'Back', group_activities_path, class: "btn btn-primary" %>

