<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Group Sanction</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Group Sanction</li>
      </ol>
    </nav>
</div>

<%= render 'form', group_sanction: @group_sanction %>

<%= link_to 'Back', group_sanctions_path, class: "btn btn-primary" %>

