<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New Extra Point</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">New Extra Point</li>
      </ol>
    </nav>
</div>

<%= render 'form', extra_point: @extra_point %>

<%= link_to 'Back', extra_points_path, class: "btn btn-primary" %>
